// Base
$base-font-size: 10px;

// Fonts
$font-heading: 'Noto Sans', -apple-system sans-serif;
$font-text: 'Montserrat', sans-serif;

// Colours
$white: #fff;

$dark-800: #000;
$dark-700: #1d1d1d;
$dark-600: #272726;
$dark-500: #3c3c3b;
$dark-400: #5a5a59;
$dark-300: #747472;
$dark-200: #a6a6a5;
$dark-10: #e1e1e1;
$dark-5: #f1f1f1;
$dark-2: #f8f8f8;

$green-800: #1f2b24;
$green-700: #24382c;
$green-600: #1e8449;
$green-500: #27ae60;
$green-400: #6fcf97;
$green-300: #d3f7e2;
$green-200: #adb5a7;
$green-10: #d6dad3;
$green-5: #f5fcf8;

$brown-800: #281c0a;
$brown-700: #38270e;
$brown-600: #483212;
$brown-500: #513814;
$brown-400: #735f42;
$brown-300: #968772;
$brown-200: #b9afa1;
$brown-10: #dcd7d0;
$brown-5: #edebe7;

$tan-800: #5e4828;
$tan-700: #6c522e;
$tan-600: #795c34;
$tan-500: #87673a;
$tan-400: #9f8561;
$tan-300: #b7a388;
$tan-200: #cfc2b0;
$tan-10: #e7e0d7;
$tan-5: #f3efeb;

$overlay-60: rgba(0, 0, 0, 0.6);
$overlay-20: rgba(0, 0, 0, 0.2);
