@import '../../../assets/style/common';

.error-panel {
  color: $system-danger-dark;
  background: $system-danger-light;
  border-radius: rem(8);
  font-weight: 500;
  margin: rem(16) 0;
  padding: rem(8) rem(16);

  &__inner {
    display: flex;
    flex-direction: column;
  }
}
