@import '../../../../assets/style/common';

.input {
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__label {
    font-size: rem(12);
    font-weight: 500;
    width: 100%;
  }
}
